target/
.classpath
.settings/
.project
.metadata
ActiveMQ/
FedoraRepository/
indexes/
ObjectStore/
*/.cache
.cache
.idea/
# Build and Release Folders
bin/
bin-debug/
bin-release/
overlays/
fcrepo4-data/
*~
