<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	     version="3.0">
    
  <display-name>Fedora-on-ModeShape</display-name>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/classes/spring/*.xml</param-value>
  </context-param>
  
  <listener>
    <listener-class>
        org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  
  <servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.fcrepo;com.yammer.metrics.jersey</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
  <servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

  <!-- engaging the ModeShape REST API -->

  <context-param>
    <param-name>org.modeshape.jcr.URL</param-name>
    <param-value>WEB-INF/classes/config/repository.json</param-value>
  </context-param>

  <context-param>
    <param-name>org.modeshape.jcr.RepositoryName</param-name>
    <param-value>repo</param-value>
  </context-param>

  <!-- Required parameter for ModeShape REST - should not be modified -->
  <listener>
    <listener-class>org.modeshape.web.jcr.ModeShapeJcrDeployer</listener-class>
  </listener>

  <!-- CMIS config -->
  <listener>
    <listener-class>org.modeshape.cmis.CmisContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>cmisws10</servlet-name>
  <servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
    <init-param>
      <param-name>cmisVersion</param-name>
      <param-value>1.0</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>cmisws11</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
    <init-param>
      <param-name>cmisVersion</param-name>
      <param-value>1.1</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>cmisatom10</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
    <init-param>
      <param-name>callContextHandler</param-name>
      <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
    </init-param>
    <init-param>
      <param-name>cmisVersion</param-name>
      <param-value>1.0</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>cmisatom11</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
    <init-param>
      <param-name>callContextHandler</param-name>
      <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
    </init-param>
    <init-param>
      <param-name>cmisVersion</param-name>
      <param-value>1.1</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>cmisbrowser</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.browser.CmisBrowserBindingServlet</servlet-class>
    <init-param>
      <param-name>callContextHandler</param-name>
      <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>cmisws10</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cmisws11</servlet-name>
    <url-pattern>/services11/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cmisatom10</servlet-name>
    <url-pattern>/atom/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cmisatom11</servlet-name>
    <url-pattern>/atom11/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cmisbrowser</servlet-name>
    <url-pattern>/browser/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MetricsServlet</servlet-name>
    <servlet-class>org.fcrepo.metrics.MetricsServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>MetricsServlet</servlet-name>
    <url-pattern>/metrics/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  
  <!-- BASIC security parameters -->
  <!--
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>fcrepo</realm-name>
  </login-config>
  
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  -->
</web-app>
