<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <display-name>Fedora-on-ModeShape</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/classes/spring/*.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>org.fcrepo</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!-- engaging the ModeShape REST API -->

  <context-param>
    <param-name>org.modeshape.jcr.URL</param-name>
    <param-value>WEB-INF/classes/config/repository.json</param-value>
  </context-param>

  <context-param>
    <param-name>org.modeshape.jcr.RepositoryName</param-name>
    <param-value>repo</param-value>
  </context-param>

  <!-- Required parameter for ModeShape REST - should not be modified -->
  <listener>
    <listener-class>org.modeshape.web.jcr.ModeShapeJcrDeployer</listener-class>
  </listener>

  <!-- BEGIN CMIS -->
  <listener>
    <listener-class>org.modeshape.cmis.CmisContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>cmisws10</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
    <init-param>
      <param-name>cmisVersion</param-name>
      <param-value>1.0</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>cmisws11</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
    <init-param>
      <param-name>cmisVersion</param-name>
      <param-value>1.1</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>cmisatom10</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
    <init-param>
      <param-name>callContextHandler</param-name>
      <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
    </init-param>
    <init-param>
      <param-name>cmisVersion</param-name>
      <param-value>1.0</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>cmisatom11</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
    <init-param>
      <param-name>callContextHandler</param-name>
      <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
    </init-param>
    <init-param>
      <param-name>cmisVersion</param-name>
      <param-value>1.1</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>cmisbrowser</servlet-name>
    <servlet-class>org.apache.chemistry.opencmis.server.impl.browser.CmisBrowserBindingServlet</servlet-class>
    <init-param>
      <param-name>callContextHandler</param-name>
      <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>cmisws10</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cmisws11</servlet-name>
    <url-pattern>/services11/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cmisatom10</servlet-name>
    <url-pattern>/atom/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cmisatom11</servlet-name>
    <url-pattern>/atom11/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>cmisbrowser</servlet-name>
    <url-pattern>/browser/*</url-pattern>
  </servlet-mapping>
  <!-- END CMIS -->

  <!-- BEGIN WebDAV support -->
  <!--
       This parameter provides the fully-qualified name of a class that implements
       the o.m.w.jcr.spi.RepositoryProvider interface.  It is required
       by the ModeShapeJcrDeployer that controls the lifecycle for the ModeShape REST server.
   -->
  <context-param>
      <param-name>org.modeshape.web.jcr.REPOSITORY_PROVIDER</param-name>
      <param-value>org.modeshape.web.jcr.spi.FactoryRepositoryProvider</param-value>
  </context-param>

  <!--
       This parameter, specific to the FactoryRepositoryProvider implementation, specifies
       an URL that references a configuration file to initialize the repository or
       repositories.  ModeShape will first check for a file at this path in the filesystem.
       If not file exists at this path, ModeShape will attempt to load this as a resource
       from the classpath.
   -->
  <context-param>
      <param-name>org.modeshape.jcr.URL</param-name>
      <param-value>file:/config/repository.json</param-value>
  </context-param>

  <!--
       Nodes with any of the primary node types in this comma-delimited list will be treated by the
       WebDAV implementation as content nodes.  The value below is the default value for this
       parameter.  That is, if this init parameter is omitted, the value below will be used by default.
   -->
  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.CONTENT_PRIMARY_TYPE_NAMES</param-name>
      <param-value>nt:resource, mode:resource</param-value>
  </context-param>

  <!--
       Nodes with any of the primary node types in this comma-delimited list will be treated by the
       WebDAV implementation as resource (file) nodes.  The value below is the default value for this
       parameter.  That is, if this init parameter is omitted, the value below will be used by default.
   -->
  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.RESOURCE_PRIMARY_TYPE_NAMES</param-name>
      <param-value>nt:file</param-value>
  </context-param>

  <!--
       Each folder created through the WebDAV servlet will be created as a node with the primary node
       type below.  The value below is the default value for this parameter.  That is, if this init
       parameter is omitted, the value below will be used by default.
   -->
  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.NEW_FOLDER_PRIMARY_TYPE_NAME</param-name>
      <param-value>nt:folder</param-value>
  </context-param>

  <!--
       Each resource (file created through the WebDAV servlet will be created as a node with the primary
       node type below.  The value below is the default value for this parameter.  That is, if this init
       parameter is omitted, the value below will be used by default.
   -->
  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.NEW_RESOURCE_PRIMARY_TYPE_NAME</param-name>
      <param-value>nt:file</param-value>
  </context-param>

  <!--
       Content created through the WebDAV servlet will be created as a node with the primary node
       type below.  The value below is the default value for this parameter.  That is, if this init
       parameter is omitted, the value below will be used by default.
   -->
  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.NEW_CONTENT_PRIMARY_TYPE_NAME</param-name>
      <param-value>nt:resource</param-value>
  </context-param>

  <!--
           This optional parameter provides the name of the o.m.w.j.webdav.RequestResolver
           implementation class.  The provided value must be the name of a class that
           implements the RequestResolver interface and has a public, no-arg constructor.
           If no value is provided, o.m.w.j.webdav.MultiRepositoryRequestResolver will be used.
       -->
  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.REQUEST_RESOLVER_CLASS_NAME</param-name>
      <param-value>org.modeshape.web.jcr.webdav.MultiRepositoryRequestResolver</param-value>
      <!--param-value>org.modeshape.web.jcr.webdav.SingleRepositoryRequestResolver</param-value-->
  </context-param>
  
  <!--
        This parameter provides the fully-qualified name of a class that implements
        the o.m.w.jcr.webdav.ContentMapper interface.  If no value is provided for this
        parameter, o.m.w.jcr.webdav.DefaultContentMapper will be used.
    -->

  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.CONTENT_MAPPER_CLASS_NAME</param-name>
      <param-value>org.fcrepo.webdav.FedoraContentMapper</param-value>
  </context-param>

  <!--
           This parameter is required if (and only if) the SingleRepositoryRequestResolver is used.
           It provides the name of the JCR repository that will be accessed.  An exception
           will be thrown if no value is provided for this parameter.
       -->
  <!--
  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.SINGLE_REPOSITORY_RESOLVER_REPOSITORY_NAME</param-name>
      <param-value>mode:repository</param-value>
  </context-param>
  -->

  <!--
           This parameter is required if (and only if) the SingleRepositoryRequestResolver is used.
           It provides the name of the JCR workspace that will be accessed.  An exception
           will be thrown if no value is provided for this parameter.
       -->
  <!--
  <context-param>
      <param-name>org.modeshape.web.jcr.webdav.SINGLE_REPOSITORY_RESOLVER_WORKSPACE_NAME</param-name>
      <param-value>default</param-value>
  </context-param>
  -->
  <!-- Required parameter for ModeShape WebDAV - should not be modified -->
  <listener>
      <listener-class>org.modeshape.web.jcr.ModeShapeJcrDeployer</listener-class>
  </listener>

  <!-- Required WebDAV servlet - should not be modified -->
  <servlet>
      <servlet-name>WebDAV</servlet-name>
      <servlet-class>org.modeshape.web.jcr.webdav.ModeShapeWebdavServlet</servlet-class>

      <!--
            The webdav library requires this parameter to be present, but does not use it.
        -->
      <init-param>
          <param-name>rootpath</param-name>
          <param-value>.</param-value>
      </init-param>
  </servlet>

  <!-- Required parameter for ModeShape WebDAV - should not be modified -->
  <servlet-mapping>
      <servlet-name>WebDAV</servlet-name>
      <url-pattern>/webdav/*</url-pattern>
  </servlet-mapping>

  <!-- END WebDAV support-->
  
  <!-- BEGIN Metrics -->
  <servlet>
    <servlet-name>MetricsAdminServlet</servlet-name>
    <servlet-class>com.codahale.metrics.servlets.AdminServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MetricsAdminServlet</servlet-name>
    <url-pattern>/metrics/*</url-pattern>
  </servlet-mapping>
  <!-- END Metrics -->
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

  <!-- BASIC security parameters -->
  <!-- <login-config> <auth-method>BASIC</auth-method> <realm-name>fcrepo</realm-name> 
    </login-config> <security-role> <role-name>admin</role-name> </security-role> -->
</web-app>
